/* clarfix
/* ----------------------------------------------------------- */
%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        @extend .display-table;
        width: 100%;
    }
    &:after {
        clear: both;
    }
}
/* Animations
/* ----------------------------------------------------------- */
%animation-default {
    @include transition(all 0.2s ease-out 0s);
    transition-delay: .1s; /* delays for 1 second */
    -webkit-transition-delay: .1s; /* for Safari & Chrome */
}
%animation-2s {
    @include transition(0.2s);
}
%animation-3s {
    @include transition(0.2s);
}
%animation-4s {
    @include transition(all 0.4s ease-out);
}
%animation-5s {
    @include transition(0.5s);
}
%animation-6s {
    @include transition(0.6s);
}
%easeOutExpo {
    @include transition(all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s);
}
%easeInExpo {
    @include transition(all 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s);
}
/* Rotate
/* ----------------------------------------------------------- */
.homey-icon-loading-half {
    animation: rotation 1s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}